/* Estilos generales */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    margin: 20px;
    /* Margen alrededor de la página */
}

a {
    color: #ff5733;
    text-decoration: none;
}

/* Encabezado */
header {
    background-color: #222;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff5733;
}

/* Secciones */
section {
    padding: 4rem 0;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #ff5733;
}

section p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.center-content {
    text-align: center;
    margin-bottom: 20px;
}


/* Sección Hero */
#hero {
    text-align: center;
    background-color: #f2f2f2;
    padding: 5rem 0;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.cta-button {
    display: inline-block;
    background-color: #ff5733;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e64b00;
}

/* Proyectos */
.project {
    border: 1px solid #ddd;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project img {
    max-width: 100%;
    border-radius: 5px;
}

/* Redes Sociales */
.social-media a {
    display: inline-block;
    margin-right: 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.2);
}

/* Pie de Página */
footer {
    text-align: center;
    padding: 1.5rem 0;
    background-color: #222;
    color: #fff;
    font-size: 0.9rem;
}

/* Estilos adicionales para la galería */
.certificaciones-grid {
    justify-items: center; /* Centra horizontalmente */
}


.certificacion {
    text-align: center;
}

.certificacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.certificacion img {
    max-width: 100%;
    max-height: 150px; /* Altura fija para todas las imágenes */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificacion:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
